---
const image = "/src/components/images/angel-vengador.png";
---

<article
    class="p-4 items-center flex flex-col"
>
    <img
        class="rounded-full mb-4 w-[250px] h-[250px] object-cover object-center border-4 border-pink-500"
        src={image}
        alt="dibujo hecho por mi de un personaje femenino"
    />
    <div class="text-pretty flex flex-col gap-y-4">
        <h3 class="text-2xl font-semibolt mb-2">
            Hola me llamo <span class="text-purple-500">Tamara</span> aunque mis
            amigos me llaman Tami.
        </h3>
        <p>
            Empecé en el mundo de la programación gracias a que me apunte a un
            curso de <span class="text-purple-300/90"
            >operación de sistemas microinformaticos </span> para aprender a
            limpiar y arreglar mi ordenador, ese curso me llevo a apuntarme al
            siguiente que daban en el mismo centro sobre Web, en este último,
            conocí la programación de la mano de Javascript.
        </p>
        <p>
            Al principio fue un reto, pero <span class="text-purple-300/90"
                >me gustan los retos</span
            > y no iba a darme por vencida, pasito a pasito empezó a ser divertido
            resolver problemas e intentar que todo funcionará como se veia en mi
            cabeza. Gracias a esto empezé a estudiar <span
                class="text-purple-300/90">Desarrollo Web</span
            > tanto <span class="text-purple-300/90"
                >Front-end con Javascript vanilla y ReactJS como Back-end con
                NodeJS con PHP, Mysql y NodeJS.</span
            >
        </p>
        <p>
            Otra de mis pasiones, ligadas al mundo dígital es mi pasión por el
            <span class="text-purple-300/90"
            > arte, ya sea Dígital o tradicional</span>, soy de esas personas que se
            abstraía del mundo dibujando desde que tengo memoria, esto me llevo
            a interesarme por el <span class="text-purple-300/90"
            >diseño</span> aprendiendo por mi cuenta asi como
            lo hice con el dibujo.
        </p>
        <p>
            Se que <span class="text-purple-300/90"
            >mi camino</span> solo acaba de empezar y queda muchisimo por
            recorrer, <span class="text-purple-300/90"
            >retos</span> que superar y cosas por <span class="text-purple-300/90"
            >aprender</span>.
        </p>
    </div>
</article>
