---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: "Junio 2024",
        title: "IFCD0210 - DESARROLLO DE APLICACIONES CON TECNOLOGÍAS WEB",
        description: "Curso del Soib que convalida varias asignaturas del segundo año de la FP superior de Desarrollo Web. Estoy aprendiendo y puliendo mis habilidades en programación web entorno cliente y servidor, tocando lenguajes como html, css, sass, javascript, php, MySql, .NET, entre otros. También usando librerias como React y tocado Framerworks tanto de CSS (Boostrap y TaildwindCSS) como de JS(React) y PHP(Laravel) ",
        link: "https://sede.sepe.gob.es/es/portaltrabaja/resources/pdf/especialidades/IFCD0210.pdf"
    },
    {
        date: "Febrero 2024",
        title: "IFCD0110 - CONFECCIÓN Y PUBLICACIÓN DE PÁGINAS WEB",
        description: "He adquirido habilidades en HTML5 y CSS3 para estructurar y dar estilo a las páginas web, así como en JavaScript y para añadir interactividad y dinamismo. Además, he manejado sistemas de gestión de contenidos como WordPress, incluyendo su instalación, configuración y administración. Este curso me ha capacitado para crear, desarrollar y publicar sitios web de alta calidad.",
        link: 'https://sede.sepe.gob.es/es/portaltrabaja/resources/pdf/especialidades/IFCD0110.pdf'
    },
    {
        date: "Octubre 2023",
        title: "IFCT0210 - OPERACIÓN DE SISTEMAS INFORMÁTICOS",
        description: "Empecé en el mundo de la informática en este curso y adquirí habilidades avanzadas en la instalación, configuración y administración de sistemas operativos, redes informáticas, montaje y reparación de hardware y servidores web. Además, obtuve conocimientos prácticos en virtualización, seguridad informática y monitorización de sistemas.",
        link: "https://sede.sepe.gob.es/es/portaltrabaja/resources/pdf/especialidades/IFCT0210.pdf"
        
    }
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">                  
   {
    EXPERIENCE.map(experiencie => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experiencie} />
        </li>
    ))
   }

</ol>

