
:root{
    --purple: #B659FF;
    --dark: #333;
    --light: #f7f7f7;
    --pink: #FF63FD;
}
@font-face {
    font-family: 'Koulen';
    src: url(./assets/Koulen-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
header{
  
height: 100vh;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;

}
a{
    text-decoration: none;
}
h1{
    font-family: 'Koulen';
    line-height: 30px;
}
h2{
    font-family: 'Koulen';
    line-height: 15px;
}
.showcase{
    background: url(./assets/sharad-kachhi-hluitBPPJBI-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: center/cover;
    height: 100%;

}
